@import-normalize;


body {
  width: 100%;
  background-color: #FFFFFF;
  font-family: 'Arial';
  }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 60%;
  height: 30vh;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search input[type=text] {
  border-color: blueviolet;
  width: 55%;
  height: 8vh;
  padding-left: 1%;
  font-size: 1em;
}

.search__button {
  border: none;
  width: 5%;
  height: 9vh;
  margin: 0;
  background-image: url('images/search.gif');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: blueviolet;
}

small {
    font-size: 85%;
}

.footer p {
  color: #737373;
}
